body{
    margin: 0;
    box-sizing: border-box;
}

/* start header */
.header{
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    height: 56px;
    align-items: center;
    margin: 0 0;
    max-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    z-index: 2;
}

.inner-one{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.inner-one .btn-circle{
    width: 40px;
    height: 40px;
    border: none;
    background: white;
    font-size: 21px;
    /* font-weight: lighter; */
    border-radius: 50%;
    outline: none;
}

.inner-one .btn-circle:hover{
    background: #f1f1f1;
}

.inner-one .logo{
    font-size: 21px;
    border: none;
    outline: none;
    border-radius: 8px;
    background: white;
    display: flex;
    align-items: center;
}

.inner-one .logo i{
    color: #ff0033;
    font-size: 24px;
}

.inner-two{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.inner-two .btn-group{
    width: 100%;
    height: 40px;
}

.inner-two .btn-group .search{
    width: 80%;
    height: 40px;
    border: none;
    background: white;
}

.inner-two .btn-group .search input{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    border: 0.5px solid rgb(240, 240, 240);
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    padding-left: 10px;
}

.inner-two .btn-group .search-icon{
    width: 15%;
    margin-top: 1px;
    margin-left: -6px;
    height: 40px;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    font-size: 16px;
    background: rgb(240, 240, 240);
    border: none;
    outline: none;
    text-align: center;
}

.inner-two .btn-group .search-icon i{
    font-size: 24px;
}

.inner-two .micro{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background: rgb(240, 240, 240);
}

.inner-two .micro:hover{
    background: rgb(229, 229, 229);
    cursor: pointer;
}

.inner-two .btn-group search{
    width: 85%;
    height: 40px;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    padding-left: 10px;
    border: none;
    outline: none;
}

.inner-two .btn-group .search-icon:hover{
    background: rgb(229, 229, 229);
    cursor: pointer;
}

.inner-three{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
}

.inner-three .btn:hover{
    background: rgb(229, 229, 229);
    cursor: pointer;
}

.inner-three .create{
    width: 40%;
    height: 40px;
    font-size: 24px;
    background: rgb(240, 240, 240);
    border: none;
    border-radius: 16px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.inner-three .create span{
    font-size: 18px;
}

.inner-three .notification{
    border: none;
    font-size: 21px;
    background: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
}

.inner-three .avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    padding: 0px;
}

.inner-three .avatar img{
    border-radius: 50%;
}
/* end header */

/* start offcanvas */

.offcanvas-header{
    height: 56px;
}

.offcanvas-header .btn-circle{
    width: 40px;
    height: 40px;
    border: none;
    background: white;
    font-size: 21px;
    /* font-weight: lighter; */
    border-radius: 50%;
    outline: none;
}
.offcanvas-header .logo{
    font-size: 21px;
    border: none;
    outline: none;
    border-radius: 8px;
    background: white;
    display: flex;
    align-items: center;
}

.offcanvas-header .logo i{
    color: #ff0033;
    font-size: 24px;
}

.offcanvas-body hr{
    width: 96%;
}

.offcanvas-body .you{
    font-weight: bold;
}

.offcanvas-body .block button{
    width: 96%;
    margin-left: 2%;
    height: 32px;
    text-align: left;
    font-size: 16px;
    background: white;
    border: none;
    border-radius: 8px;
}

.offcanvas-body .block button:hover{
    background: rgb(229, 229, 229);
    cursor: pointer;
}

.offcanvas-body .block p, strong{
    margin-left: 5%;
    /* text-decoration: none; */
    /* color: black; */
}

.offcanvas-body .block a{
    text-decoration: none;
    color: black;
}

.offcanvas-body .block .span{
    margin-left: 10px;
}

.offcanvas-body .block button .you{
    margin-left: 0;
}
/* end offcanvas */

/* start content */
.content{
    margin-top: 56px;
    display: flex;
    flex-direction: row;
    position: relative;
}
.content .content-left{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 56px;
    z-index: 1;
}

.content .content-left .btn:hover{
    border-radius: 8px;
    outline: none;
    background-color: rgb(229, 229, 229);
}

.content .content-left .btn i{
    font-size: 21px;
}

.content .content-left .btn span{
    font-size: 12px;
}

.content .content-right{
    width: 100%;
    margin-left: 97px;
}

.content .content-right .content-r-up{
    width: 92%;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 56px;
    left: 105px;
    background: white;
    z-index: 1;
}

.content .content-right .content-r-up .btn{
    background: rgb(240, 240, 240);
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
}

.content .content-right .content-r-up .btn:hover{
    background: rgb(229, 229, 229);
}

.content .content-right .content-r-up .all{
    background: black;
    color: white;
}

.content .content-right .content-r-up .all:hover{
    background: black;
}

.content .content-right .content-r-down{
    position: relative;
    top: 56px;
}

/* .content .content-right .content-r-down img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
} */

/* .content .content-right .content-r-down .row{
    display: flex;
    justify-content: space-between;
} */
.btn video{
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.bottom-vd{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.bottom-vd img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.bottom-vd .content-vd{
    width: 80%;
    text-align: left;
}

.bottom-vd .content-vd h3{
    margin-top: 0;
    font-size: 20px;
}

.bottom-vd .content-vd p{
    font-size: 14px;
    font-weight: 100;
    color: rgb(96, 96, 96);
    margin-top: -2px;
    margin-bottom: 2px;
}

.bottom-vd .content-vd .youtuber:hover{
    color: rgb(24, 24, 24);
}

.bottom-vd i{
    font-size: 24px;
}
/* end content */
